fastapi==0.95.0
uvicorn==0.21.0
websockets==10.0
pandas>=1.3.0,<2.0.0
scapy==2.5.0
python-multipart==0.0.6
aiofiles==23.1.0
joblib==1.2.0
scikit-learn==1.2.2
numpy>=1.21.0,<1.24.0
python-libpcap==0.5.2
pycaret==3.0.4
